download/*
__pycache__/
.env*
*.json
*.session
*copy*
*.session-journal
*.txt
docker_*
compose.dev
tmp/*
config.ini
docker-compose.dev.yml
_download
download
series
docker-compose.telethon.yml
update_readme.sh
test.py
*.bak
test*
*.temp
*~
*.excalidraw
checkdependences.sh
