__pycache__
docker-compose.yml
.vscode/settings.json
*.bk

telethon-downloader/test/

docker-compose.dev*.yml
telethon-downloader/bottorrent.session
telethon-downloader/bottorrent.session-journal
restart.sh
telethon-downloader/example_lenguage.py
tmp/*
TODO.txt
*.drawio
test.py
telethon-downloader/False/*
